<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/splashpage.css">
<title>Splash Page</title>
<style>
  
  </style>
</head>
<body>
<div class = "startsplash">  
<div class="overlay">
    <div class="overlay-inner">
      <img src="http://s33.postimg.org/tv1h6g4bz/mustanggt_placeholder_opt.jpg">
        <div class="message">
<div class="load">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>


<div class="load2">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
    </div>
      </div>
    <div class="title"><h1>Rick's Project Page</h1></div>
  </div>
</div>  


</body>
</html>