<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Splash Page</title>
<style>
  
  </style>
</head>
<body>
  

<div class="overlay">
    <div class="overlay-inner">
      <img src="http://s33.postimg.org/tv1h6g4bz/mustanggt_placeholder_opt.jpg">
        <div class="message">
<div class="load">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>


<div class="load2">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
        </div>
    </div>
  <div class="title"><h1>Rick's Project Page</h1></div>
</div>
  


</body>
</html>