.todo-container {
  width: 500px;
  margin: 5px auto;
  margin-top: 20px;
  font-family: 'Bangers', cursive;

}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-right: 0;
  text-align: right;
}
.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

ul {
  border-style: solid;
  border-width: 20px;
  Border-color: green;
  
}



  

